---
import { model } from "../utils/openAI";
import Logo from "./Logo.astro";
import Themetoggle from "./Themetoggle.astro";
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">情感支持</span>
    <span class="gpt-subtitle">小助手</span>
  </div>
  <p mt-1 op-60>
    Hi，我是你的情感支持小助手，随时为你提供情感支持！ ({model}).
  </p>
</header>
